body{
  padding-top: 50px;
}

/* Clear */
.padding-left-0{
  padding-left: 0;
}
.padding-right-0{
  padding-right: 0;
}
.padding-0{
  padding:0;
}

.padding-top-50px{
  padding-top: 50px;
}
/* Relationship */
.content-relative{
  position: relative;
}

#sidebar-wrapper {
  background: #000;
  width: 100%;
}

/* main content */

#page-content-wrapper {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
  padding-left: 200px;
}


/* sidebar */

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
    height: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 100%;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: #999999;
    height: 40px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

/* cards */

.card{

  background:grey;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  width: 200px;
  height: 250px;
  overflow: hidden;

}

.card-small {
    width: 50px;
    height: 50px;
}

.colorless {
    background: #fff;
    padding : 0;
}

/* login adn register form */

#visitor-form {
  padding-top: 13%;
}



/* Sidebar*/
#sidebar-left,#sidebar-right{
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 200px;
  z-index: 20;
}

.left-sidebar-btn{
  position: absolute;
  right: -31px;
  width: 31px;
  text-align: center;
  border-bottom-right-radius: 1em;
  font-size: 20px;
  color: white;
  background-color: #222;
}
.show .left-sidebar-btn *,.show .right-sidebar-btn *{
  animation: rotate 0.5s forwards;
}

.left-sidebar-btn *, .right-sidebar-btn *{
  animation: rotate-out 0.5s forwards;
}

.right-sidebar-btn{

  position: absolute;
  left: -31px;
  width: 31px;
  text-align: center;
  border-bottom-left-radius: 1em;
  font-size: 20px;
  color: white;
  background-color: #222;
}

#sidebar-left.minimized.show{
  animation: left 0.5s forwards;
}
#sidebar-right.minimized.show{
  animation: right 0.5s forwards;
}

#sidebar-left.minimized{
  left: -200px;
  animation: left-out 0.5s forwards;
}

#sidebar-right.minimized{
  right: -200px;
  animation: right-out 0.5s forwards;
}

/* KeyFrames */
@keyframes width-100 {
  0%{
    width: 0%;
  }
  100%{
    width: 13%;
  }
}

@keyframes left{
  0%{
    left: -200px;
  }
  100%{
    left: 0%;
  }
}
@keyframes left-out{
  0%{
    left: 0%;
  }
  100%{
    left: -200px;
  }
}

@keyframes right{
  0%{
    right: -200px;
  }
  100%{
    right: 0%;
  }
}

@keyframes right-out{
  0%{
    right: 0%;
  }
  100%{
    right: -200px;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes rotate-out{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0);
  }
}

/* debug/colors */
.color-red{
  background-color: red;
  color:white;
}
.color-blue{
  background-color: blue;
  color: white;
}

.color-black{
  background-color: black;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.modal {
  margin: 0 auto;
  top: 25%;
}
