body{
  padding-top: 50px;
}

.bottom {
    border-bottom-style: solid;
    border-bottom-color: #aaa;
    border-bottom-width: 0.1em;
    padding-bottom: 0.2em;
}

/* Clear */
.padding-left-0{
  padding-left: 0;
}
.padding-right-0{
  padding-right: 0;
}
.padding-0{
  padding:0;
}
/* Relationship */
.content-relative{
  position: relative;
}

#sidebar-wrapper {
  background: #000;
  width: 200px;
}



/* main content */

#page-content-wrapper {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
  padding-left: 200px;
}


/* sidebar */

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
    height: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: #999999;
    height: 40px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

/* cards */

.card{

  background:grey;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  width: 200px;
  height: 250px;
  overflow: hidden;

}


/* login adn register form */

#visitor-form {
  padding-top: 13%;
}

#sidebar-left,#sidebar-right{
  position: relative;
}

/* Sidebar*/

.minimized{
  top: 0;
  width: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
}

.minimized.show{
  animation-name: width-100;
  animation-delay: 0;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}


#sidebar-left.minimized{
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 0%;
  height: auto;
  top: 0;
}
#sidebar-right.minimized{
  right: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 0%;
  top: 0;
}

/* KeyFrames */
@keyframes width-100 {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

/* debug/colors */
.color-red{
  background-color: red;
  color:white;
}
.color-blue{
  background-color: blue;
  color: white;
}

.color-black{
  background-color: black;
}
