body{
  padding-top: 50px;
}

body .view{
  min-height: 1vh;
}

.viewport{
  min-height: calc(100vh - 100px);
}

div.view {
  height: calc(100vh - 100px);
}

body.view {
  background: url("../images/intro1.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box-alerts{
	position:fixed;
	top:50px;
	transform: scaleY(-1);
	bottom:0;
	left: 210px;
	right: 210px;
	pointer-events: none;
}

.box-alerts *{
	animation: Suave 2s infinite;
	transform: scaleY(-1);
}

@keyframes Suave{
	0%,100% {
		opacity:0;
	}
	
	10%, 80% {
		opacity:1;
		height:50px;
		margin:10px;
		padding:10px;
	}
	100%{
		padding: 0px;
		margin: 0px;
		height: 0px;
	}
}

.template{
	visibility:hidden;
	position:fixed;
}

.fa-up{
	
    	background: url("../images/up_small.png");
	background-position: left top;
	height: 20px;
	width: 20px;
	background-size: 20px 20px;
}

.notification-container{
	overflow-y: scroll;
	max-height: 200px;
	overflow-x: hidden;
	min-height: 0px;

}

.outliner {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.vertical-align{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

li{
  list-style: none;
}
/* notifications*/


.badge-notify {
  background: red;
  position: absolute;
  right: 10px;
}

.notifications-wrapper {
  max-height: 250px;
}

.notifications{
  min-width:420px;
}

@media screen and (max-width: 768px){
  .notifications{
    min-width:100px;
  }

}

.notifications-title {
  font-size: 1.5rem;
  display:inline-block;
}


.notification-heading  {
  padding:2px 10px;
}


.item-title {
  font-size:1.5rem;
  color:#000;
}

.item-info {
  font-size:1.2rem;
  color: rgba(51,122,183,1.0);
}



.notification-item {
  position:relative;
  background:#efefef;
  border-radius:4px;
  max-height: 80px;
  min-height: 80px;
}

.notification-mark{
  position: absolute;
  top: 25%;
  right:10px;
}


/* Clear */
.padding-left-0{
  padding-left: 0;
}
.padding-right-0{
  padding-right: 0;
}
.padding-0{
  padding:0;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-10{
  margin: 2px;
}

.padding-neg-10{
  padding: -10px;
}

.width-100{
  width: 100%;
}

textarea.resizable-horizontal{
  resize: vertical;
}

.padding-top-50px{
  padding-top: 50px;
}
/* Relationship */
.content-relative{
  position: relative;
}

#sidebar-wrapper {
  background: #000;
  width: 100%;
}

/* Positioning */

.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}
/* main content */

#page-content-wrapper {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
  padding-left: 200px;
}


/* sidebar */

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
  height: auto;
}

/* Sidebar Styles */

.sidebar-nav {
  width: 100%;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  overflow: hidden;
  color: #999999;
  height: 40px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

/* login adn register form */

#visitor-form {
  padding-top: 13%;
}



/* Sidebar*/
#sidebar-left,#sidebar-right{
  position: fixed;
  top: 50px;
  width: 200px;
  height: calc(100% - 50px);
  z-index: 20;
}

.left-sidebar-btn{
  position: absolute;
  right: -31px;
  width: 31px;
  text-align: center;
  border-bottom-right-radius: 1em;
  font-size: 20px;
  color: white;
  background-color: #222;
}
.show .left-sidebar-btn *,.show .right-sidebar-btn *{
  animation: rotate 0.5s forwards;
}

.left-sidebar-btn *, .right-sidebar-btn *{
  animation: rotate-out 0.5s forwards;
}

.right-sidebar-btn{

  position: absolute;
  left: -31px;
  width: 31px;
  text-align: center;
  border-bottom-left-radius: 1em;
  font-size: 20px;
  color: white;
  background-color: #222;
}

#sidebar-left.minimized.show{
  animation: left 0.5s forwards;
}
#sidebar-right.minimized.show{
  animation: right 0.5s forwards;
}

#sidebar-left.minimized{
  left: -200px;
  animation: left-out 0.5s forwards;
}

#sidebar-right.minimized{
  right: -200px;
  animation: right-out 0.5s forwards;
}

/* KeyFrames */
@keyframes width-100 {
  0%{
    width: 0%;
  }
  100%{
    width: 13%;
  }
}

@keyframes left{
  0%{
    left: -200px;
  }
  100%{
    left: 0%;
  }
}
@keyframes left-out{
  0%{
    left: 0%;
  }
  100%{
    left: -200px;
  }
}

@keyframes right{
  0%{
    right: -200px;
  }
  100%{
    right: 0%;
  }
}

@keyframes right-out{
  0%{
    right: 0%;
  }
  100%{
    right: -200px;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes rotate-out{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0);
  }
}

/* debug/colors */
.color-black{
  background-color: black;

}

.color-white{
  background-color: white;
  color: #222;
  border-color: #111;
}

.color-grey{
  background-color: #222;
}

.color-blue{
  background-color: #337AB7;
  color: white;
}

ul li a.nav-link.color-blue{
  background-color: #337AB7;
  color: white;
  border-left-style: none;
  border-right-style: none;

}

.text-white{
  color: #FFF;
}


body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.modal-out{
  margin: 0 auto;
  top: 25%;
}

.circle {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

/*Forums*/
.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

div.selectable:not(:target){
  position: absolute;
  visibility: hidden;
}


/* Dropzone */

.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.dropzone.dz-drag-hover{
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background-color: rgba(125,125,125,0.1);
}

/* Table Style */
.table-style tr td{
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

.chart{
  height: 10px;
}
/*cards */

.card {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.9);
    margin: 20px 0px;
    box-shadow: 5px 5px 30px #888888;
}


.card .cardheader-todo {
    background: rgba(51,122,183,1.0);
    background-size: cover;
    height: 100px;
}

.card .people-envolved {
  background: rgba(51,122,183,0.5);
  padding: 5px;
  padding-bottom: 10px;
  overflow: auto;
}

.card .people-envolved:after {
    float: none;
}

.card .people-envolved .owner{
  width: 50%;
  float: left;
}

.card .people-envolved .collaborator{
  width: 50%;
  float: right;
}


.card .cardheader {
    background: url("../images/intro2.jpg");
    background-size: cover;
    height: 125px;
}


/*avatar lindo que tornava a carta fantastica, no entanto os meus colegas achavam "desnecessario"*/
.card .category {
    position: relative;
    top: -50px;
    display: inline-block;
    margin-bottom: -50px;
    background: #6A6A00;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
}

.carousel ul li a{
  height: 50%;
}

.document{
  width: 100%;
}

.document img{
  width:100%;
}

.document-bottom{
  margin: auto;
  width: 50%;
  padding: 5px;
}

.card .title {
    position: relative;
    top: 40px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
}

.card .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
}

.card .bottom {
  margin: 5px;
}

.cardLink:hover{
  text-decoration:none;
}

.icon-link{ border-radius: 50%; width:32px; height:32px;  }

.delete-link{
  color: red;
  position: relative;
  top:-30px;
  left: 60px;
  z-index: 1;
}

.invisible{
  visibility: hidden;
}

.modal{
  color: black;
}

.link-no-style:hover{
   text-decoration: none;
}
.link-no-style{
   color:black;
}
.link-no-style:link{
   text-decoration: none;
}


.deassign_user i:hover{
	color: #F00;
}

input.disabled{
	visibility : hidden;
	display: fixed;
	height: 0;
	padding:0;
	margin:0;
}


/* search */


#searchResults {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: block;
  height: auto;
  background:dimgrey;

}

#searchResults li a:hover {

  background-color: inherit;
}

#searchResults li:hover {
  background-color: inherit;
  animation-name: scale;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

#searchResults  li{
  overflow:hidden;
  opacity: 1;
  color: white;
  height: 2em;
  border:1em;
  border-color: black;
}

#searchResults  a{
  text-decoration: none;
  color: white;
}


