body{
  padding-top: 50px;
}

body .view{
  min-height: 1vh;
}

.viewport{
  min-height: calc(100vh - 100px);
}

div.view {
  height: calc(100vh - 100px);
}

body.view {
  background: url("../images/intro1.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table{
  table-layout: fixed;
}

.my_clickable {
  cursor:pointer;
}

.box-alerts{
	position:fixed;
	top:50px;
	transform: scaleY(-1);
	bottom:0;
    width:80%;
    margin: 0 0 0 -40%;
    left:50%;
	pointer-events: none;
	z-index: 10000;
}

.box-alerts *{
	animation: Suave 2s infinite;
	transform: scaleY(-1);
}

@keyframes Suave{
	0%,100% {
		opacity:0;
	}
	
	10%, 80% {
		opacity:1;
		height:50px;
		margin:10px;
		padding:10px;
	}
	100%{
		padding: 0px;
		margin: 0px;
		height: 0px;
	}
}

.template{
	visibility:hidden;
	position:fixed;
}

.fa-up{
    background: url("../images/up_small.png");
	background-position: left top;
	width: 28px;
    height: 28px;
	background-size: 28px 28px;
    position: relative;
    top:4px;
}



.notification-container{
	overflow-y: scroll;
	max-height: 250px;
	overflow-x: hidden;
	min-height: 0px;

}

.outliner {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.vertical-align{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

li{
  list-style: none;
}



.badge-notify {
  background: red;
  position: absolute;
  right: 10px;
}

.notifications-wrapper {
  max-height: 250px;
}



@media screen and (min-width: 768px)  {
  .dropdown-menu{
    max-width: 450px;
  }

  .notifications-title {
    color: black;
  }


}

@media screen and (max-width: 768px)  {

  .notifications-title {
    color: white;
  }


}

.notifications-title {
  font-size: 1.5rem;
  display:inline-block;
}


.notification-heading  {
  padding:2px 10px;
}


.item-title {
  font-size:1.5rem;
  color:#000;
}

.item-info {
  font-size:1.2rem;
  color: rgba(51,122,183,1.0);
}

.btn_delete_notification {
  position: absolute;
  top: 40px;
  right: 8px;
}

.notificationOnNavBar{
  position: absolute;
  top: 65px;
  right: 8px;
}

.notification-item .item-title{
    width: 100%;
    height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}



.notification-item {
  position:relative;
  background:#efefef;
  border-radius:4px;
  height: 100px;
  padding: 10px;
  margin: 10px;
}

.notification-mark{
  position: absolute;
  top: 25%;
  right:10px;
}


.padding-left-0{
  padding-left: 0;
}
.padding-right-0{
  padding-right: 0;
}
.padding-0{
  padding:0;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-10{
  margin: 2px;
}


.width-100{
  width: 100%;
}

textarea.resizable-horizontal{
  resize: vertical;
}

.padding-top-50px{
  padding-top: 50px;
}

.content-relative{
  position: relative;
}

#sidebar-wrapper {
  background: #000;
  width: 100%;
}

.projectDescription {
  word-wrap: break-word;
}

.page-header{
  word-wrap: break-word;
}


.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}


#page-content-wrapper {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
  padding-left: 200px;
}




#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
  height: auto;
}



.sidebar-nav {
  width: 100%;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  overflow: hidden;
  color: #999999;
  height: 40px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}



#visitor-form {
  padding-top: 13%;
}



#sidebar-left,#sidebar-right{
  position: fixed;
  top: 50px;
  width: 200px;
  height: calc(100% - 50px);
  z-index: 20;
}

.left-sidebar-btn{
  position: absolute;
  right: -31px;
  width: 31px;
  text-align: center;
  border-bottom-right-radius: 1em;
  font-size: 20px;
  color: white;
  background-color: #222;
}
.show .left-sidebar-btn *,.show .right-sidebar-btn *{
  animation: rotate 0.5s forwards;
}

.left-sidebar-btn *, .right-sidebar-btn *{
  animation: rotate-out 0.5s forwards;
}

.right-sidebar-btn{

  position: absolute;
  left: -31px;
  width: 31px;
  text-align: center;
  border-bottom-left-radius: 1em;
  font-size: 20px;
  color: white;
  background-color: #222;
}

#sidebar-left.minimized.show{
  animation: left 0.5s forwards;
}
#sidebar-right.minimized.show{
  animation: right 0.5s forwards;
}

#sidebar-left.minimized{
  left: -200px;
  animation: left-out 0.5s forwards;
}

#sidebar-right.minimized{
  right: -200px;
  animation: right-out 0.5s forwards;
}

@keyframes width-100 {
  0%{
    width: 0%;
  }
  100%{
    width: 13%;
  }
}

@keyframes left{
  0%{
    left: -200px;
  }
  100%{
    left: 0%;
  }
}
@keyframes left-out{
  0%{
    left: 0%;
  }
  100%{
    left: -200px;
  }
}

@keyframes right{
  0%{
    right: -200px;
  }
  100%{
    right: 0%;
  }
}

@keyframes right-out{
  0%{
    right: 0%;
  }
  100%{
    right: -200px;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes rotate-out{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0);
  }
}


.color-black{
  background-color: black;

}

.color-white{
  background-color: white;
  color: #222;
  border-color: #111;
}

.color-grey{
  background-color: #222;
}

.color-blue{
  background-color: #337AB7;
  color: white;
}

ul li a.nav-link.color-blue{
  background-color: #337AB7;
  color: white;
  border-left-style: none;
  border-right-style: none;

}

.text-white{
  color: #FFF;
}


body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.modal-out{
  margin: 0 auto;
  top: 25%;
}

.circle {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}


.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

div.selectable:not(:target){
  position: absolute;
  visibility: hidden;
}




.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.dropzone.dz-drag-hover{
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background-color: rgba(125,125,125,0.1);
}


.table-style tr td{
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

canvas{
   width: 100% ;
   max-width: 800px;
   height: auto;
 }


.card {
    position: relative;
    padding: 0;

    text-align: center;
    background-color: rgba(214, 224, 226, 0.9);
    margin: 20px 0px;
    box-shadow: 5px 5px 30px #888888;
}






.card .people-envolved:after {
    float: none;
}

.card .people-envolved .owner{
  width: 50%;
  float: left;
}

.card .people-envolved .collaborator{
  width: 50%;
  float: right;
}


.card .cardheader {
    background: url("../images/intro2.jpg");
    background-size: cover;
    height: 125px;
}

.card .cardheader-todo {
  background: url("../images/taskHead.jpg");
  background-size: cover;
  height: 125px;
  margin-top: 0;
}

.card .people-envolved {
  background: rgba(12, 87, 154,0.8);
  color: white;
  padding: 5px;
  padding-bottom: 10px;
  overflow: auto;
}




.card .category {
    position: relative;
    top: -50px;
    display: inline-block;
    margin-bottom: -50px;
    background: #6A6A00;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
}

ul.documents{
  overflow-x:scroll;
  white-space: nowrap;
}

@media screen and (max-width: 500px)  {

  ul.documents li{
    width: 80%;
  }
}

@media screen and (min-width: 500px)  {
  ul.documents li{
    width: 30%;
  }
}


.document{
  margin: 5px;
}


.document img{
  margin: auto;
  width:20%;
}

.document-bottom{
  margin: auto;
  width: 50%;
  padding: 5px;
}

.card .title {
    position: relative;
    top: 40px;
    overflow: hidden;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
}

.card .desc {
  overflow: hidden;
}



.task-card .card .desc {
    text-align: center;
    font-size: 18px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word
}

.card .bottom {
  margin: 5px;
  padding: 5px;
}

.cardLink:hover{
  text-decoration:none;
}

.task-user-link{
  color: white;
  cursor:pointer;

}

.icon-link{ border-radius: 50%; width:32px; height:32px;  }

.delete-link{
  color: red;
  position: relative;
  top:-30px;
  left: 60px;
  z-index: 1;
}

.invisible{
  visibility: hidden;
}

.modal{
  color: black;
}

.link-no-style:hover{
   text-decoration: none;
}
.link-no-style{
   color:black;
}
.link-no-style:link{
   text-decoration: none;
}


.deassign_user i:hover{
	color: #F00;
}

input.disabled{
	visibility : hidden;
	height: 0;
	padding:0;
	margin:0;
}


#searchResults {
  padding: 0;
  display:table;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
#searchResults li{
  display:table-cell;
}

#searchResults {
  z-index:1;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: block;
  height: auto;
  background: rgb(51,122,183);
}



#searchResults  a{
  border-style: solid;
  border-color: black;
  display: block;
  color: white;
  text-decoration:none;
}

#searchResults  a:hover{
  text-decoration:none;
}

.vertical-align-center{
	padding-top:0;
}

.display-flex{
	display:flex;
	min-height:100%;
	pointer-events:none;
	z-index: 20;
	align-items:center;
}
.display-flex *{
	pointer-events:visiblePainted;
}

input[required]{
	content:'Required!';
	border-color:#D70;

}
